@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$main-color: #EF4983;
$info-color: #8296FB;
$warning-color: #E4B52E;
$danger-color: #F88676;
$gray-color: #F9F9F9;
$graymedium-color: #C0BCB0;
$graydark-color: #444444;
$white-color: #FFFFFF;

$font-family: 'Roboto', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
